/*Ferias*/
.ferias {
    width: 100%;
    height: auto;
}

.ferias__main {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

.ferias__main h2{
    color: rgb(114, 70, 13);
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    font-family: 'Baloo Tammudu 2', cursive;
    display: flex;
    justify-content: center;
}

.ferias__imagen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ferias__main img {
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
    height: auto;
}


