/*Nuestros productos*/
.container {
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 40px 300px 40px;
    grid-gap: 20px 5px;
    justify-content: space-evenly;
}

.icono {
    width: 300px;
    height: 300px;
}

.productos h3 {
    justify-self: center;
    font-family: 'Baloo Tammudu 2', cursive;
}
